/node_modules
src/juris-webcomp.js
release-backup/.mpmignore
release-backup/juris.mini.js
release-backup/juris.source.js
release-backup/LICENSE.md
release-backup/package.json
release-backup/README.md
release-backup/readme2.md
release/.mpmignore
release/browser/juris.js
release/browser/LICENSE
release/browser/package.json
release/browser/README.md
release/juris.js
release/juris.mini.js
release/LICENSE.md
release/package.json
release/README.md
release/readme2.md
release/server/juris.cjs
release/server/juris.mjs
release/server/LICENSE
release/server/package.json
release/server/README.md
release/.mpmignore
release/juris.js
release/juris.mini.js
release/LICENSE.md
release/package.json
release/README.md
release/readme2.md
